/node_modules
/public/hot
/public/storage
/public/build
/storage/app/*
/storage/clockwork/*
/storage/framework/*
/storage/*.key
/vendor
.vapor
.DS_Store
.env
.env.backup
.env.dusk
.env.ref
.env.staging
.env.production
.github.vapor/
.idea
.php_cs.cache
.php-cs-fixer.cache
.phpunit.result.cache
composer.lock
coverage
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
vapor.yml
yarn-error.log